<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col card-container">
			<mat-card class="example-card">
				<img mat-card-image src="./assets/images/graph.jpg" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>Подробнее</button>
				</mat-card-actions>
			</mat-card>

			<mat-card class="example-card">
				<img mat-card-image src="./assets/images/graph1.png" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<p>
						The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
						A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
						bred for hunting.
					</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>Подробнее</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col">
			<div class="main-text">
				<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
			</div>
		</div>
	</div>
</div>
