<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col form-column">

			<div class="example-container mat-elevation-z8">
				<mat-table #table [dataSource]="students">
					<!-- Position Column -->
					<ng-container matColumnDef="position">
						<mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
						<mat-cell *matCellDef="let student"> {{student.position}} </mat-cell>
					</ng-container>
			
					<!-- Name Column -->
					<ng-container matColumnDef="fullName">
						<mat-header-cell *matHeaderCellDef> ФИО </mat-header-cell>
						<mat-cell *matCellDef="let student"> {{student.fullName}} </mat-cell>
					</ng-container>
			
					<!-- Weight Column -->
					<ng-container matColumnDef="dateOfBirth">
						<mat-header-cell *matHeaderCellDef> Дата рождения </mat-header-cell>
						<mat-cell *matCellDef="let student"> {{student.dateOfBirth}} </mat-cell>
					</ng-container>
			
					<!-- Symbol Column -->
					<ng-container matColumnDef="spec">
						<mat-header-cell *matHeaderCellDef> Направление </mat-header-cell>
						<mat-cell *matCellDef="let student"> {{student.spec}} </mat-cell>
					</ng-container>
			
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
			</div>

		</div>
	</div>
</div>

