.profile_grid {
  margin-top: 25px;
}

.profile_avatar {
  background-image: url(assets/imgs/profile_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 82px;
  text-align: center;
}

.profile_avatar img {
	transform: translateY(5px);
	filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.59)) ;
}

.profile_name {
	width: 172px;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
	letter-spacing: -0.46px;
	font-family: 'SFUIText-Semibold';
}

.profile_status {
	font-family: 'SFUIText-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #005aae;
  letter-spacing: -0.59px;
  margin-top: 10px;
	display: block;
	width: 124px;
}

.profile_button {
  width: 140px;
	height: 34px;
	font-family: 'SFUIText-Regular';
	font-size: 12px;
	box-shadow: 0px 10px 5px 0px rgba(21,138,194,1);
  border-radius: 2px;
	background-color: #005aae;
	color: #fff;
	margin-top: 10px;
}

.profile_data_row  .col	{
	padding-left: 0px;
	margin-top: 15px;
}

.profile_cypher {
	font-family: 'SFUIText-Semibold';
	height: 34px;
	color: #4a4a4a;
	font-size: 29px;
	font-weight: 600;
	letter-spacing: -1.22px;
}

.profile_cypher_def {
	font-family: 'SFUIText-Regular';
	width: 89px;
	height: 26px;
	color: #158ac2;
	font-size: 12px;
	font-weight: 400;
	line-height: 13px;
	letter-spacing: -0.57px;
	padding-top: 7px;
}

ion-row:nth-child(2) {
	margin-top: 20px;
}

.profile_block {
	height: 117px;
	box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.17);
	border-radius: 5px;
	background-color: #fff;
}

.profile_block_last {
	width: 189px;
	height: 117px;
	box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.17);
	border-radius: 5px;
	background-color: #158ac2;
}

.profile_block_text {
	font-family: 'SFUIText-Medium';
	color: #000000;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: -0.41px;
	display: inline-block;
	position: absolute;
	margin-top: 70px;
	margin-left: 19px;
	cursor: pointer;
}

.profile_block_competition {
	font-family: 'SFUIText-Medium';
	width: 130px;
	height: 40px;
	display: inline-block;
	margin-top: 60px;
	margin-left: 19px;
	color: #ffffff;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: -0.41px;
}

.profile_block img {
	float: right;
}

