# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/abiturient/*~
/abiturient/*.sw[mnpcod]
/abiturient/*.log
/abiturient/*.tmp
/abiturient/*.tmp.*
/abiturient/log.txt
/abiturient/*.sublime-project
/abiturient/*.sublime-workspace
/abiturient/.vscode/
/abiturient/npm-debug.log*

/abiturient/.idea/
/abiturient/.sourcemaps/
/abiturient/.sass-cache/
/abiturient/.tmp/
/abiturient/.versions/
/abiturient/coverage/
/abiturient/dist/
/abiturient/node_modules/
/abiturient/tmp/
/abiturient/temp/
/abiturient/hooks/
/abiturient/platforms/
/abiturient/plugins/
/abiturient/plugins/android.json
/abiturient/plugins/ios.json
/abiturient/www/
/abiturient/$RECYCLE.BIN/

/abiturient/.DS_Store
/abiturient/Thumbs.db
/abiturient/UserInterfaceState.xcuserstate

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/admin-panel/dist
/admin-panel/dist-server
/admin-panel/tmp
/admin-panel/out-tsc

# dependencies
/admin-panel/node_modules

# IDEs and editors
/admin-panel/.idea
/admin-panel/.project
/admin-panel/.classpath
/admin-panel/.c9/
/admin-panel/*.launch
/admin-panel/.settings/
/admin-panel/*.sublime-workspace

# IDE - VSCode
/admin-panel/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/admin-panel/.sass-cache
/admin-panel/connect.lock
/admin-panel/coverage
/admin-panel/libpeerconnection.log
/admin-panel/npm-debug.log
/admin-panel/yarn-error.log
/admin-panel/testem.log
/admin-panel/typings

# e2e
/admin-panel/e2e/*.js
/admin-panel/e2e/*.map

# System Files
/admin-panel/.DS_Store
/admin-panel/Thumbs.db


/server/node_modules