<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col">
			<mat-card class="card-item" *ngFor="let item of news">
				<button mat-icon-button class="edit_icon" 
					(click)="deleteNews(item._id)">
					<mat-icon ><i class="material-icons">delete</i></mat-icon>
				</button>
				<button mat-icon-button class="edit_icon" [routerLink]="'/edit-news'" 
					(click)="getEditNews(item._id)">
					<mat-icon ><i class="material-icons">edit</i></mat-icon>
				</button>
				<h4>{{ item.title }}</h4>
				<h6>
					<b>{{ item.newsPreview }}</b>
				</h6>
				<p class="e2e-inner-html-bound" [innerHTML]="item.newsText"></p>
				<strong>{{ item.publishedDate | date}}</strong>
			</mat-card>
			<button mat-fab color="warn" class="add__btn" [routerLink]="'/add-news'">
				<i class="material-icons">add</i>
			</button>
		</div>
	</div>
</div>