<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Мероприятия</ion-title>
	</ion-navbar>
</ion-header>

<ion-content overflow-scroll="true">
	<div>
		<ion-card *ngFor="let item of events">
			<input class="hidden_id" value="{{ item._id }}" #id>
			<img *ngIf="item.imagePreview" src={{item.imagePreview}} alt="Image Preview">
			<ion-card-content>
				<ion-card-title>
					{{ item.title }}
				</ion-card-title>
				<p class="event_dates" *ngIf="item.startDate">Дата начала: <strong>{{ item.startDate | date}}</strong></p>
				<p class="event_dates" *ngIf="item.endDate">Дата окончания: <strong>{{ item.endDate | date}}</strong></p>
				<p class="preview">{{ item.eventPreview }}</p>
				<div class="card_button">
					<strong class="date">{{ item.publishedDate | date}}</strong>
					<button ion-button clear (click)="showEvent(id.value)">Далее</button>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>