<div class="container">
		<div class="row">
			<div class="col">
				<mat-toolbar><span>Добавить новость/мероприятие</span></mat-toolbar>
				<mat-tab-group>

					<mat-tab label="Новость">
						<form class="news-form" (ngSubmit)="saveNews(title.value, newsPreview.value, editorContent)" #newsForm="ngForm">
							<div class="news-container">
								<mat-form-field>
									<textarea matInput class="title" placeholder="Заголовок" [(value)]="emp" #title required></textarea>
								</mat-form-field>
								<mat-form-field class="preview-wrapper">
									<textarea matInput placeholder="Превью" [(value)]="emp" #newsPreview required></textarea>
								</mat-form-field>
								<div class="newsText">
									<h5>Текст новости</h5>
									<textarea [froalaEditor]='options' [(froalaModel)]="editorContent" #newsText required></textarea>
								</div>
								<button mat-button (click)="onClickMe()" color="primary" [disabled]="!newsForm.form.valid" id="submit">Опубликовать</button>
								<p *ngFor="let alert of alerts" class="alert-wrapper">
									<ngb-alert *ngIf="showAlert" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
								</p>
							</div>
						</form>
		
						<mat-card class="card-item" *ngFor="let item of news">
							<h4>{{ item.title }}</h4>
							<h6>{{ item.newsPreview }}</h6>
							<p class="e2e-inner-html-bound" [innerHTML]="item.newsText"></p>
							<strong>{{ item.publishedDate | date}}</strong>
						</mat-card>
					</mat-tab>

					<mat-tab label="Мероприятие">
						<form class="news-form" (ngSubmit)="saveEvent(title.value, eventPreview.value, editorContent)" #newsForm="ngForm">
							<div class="news-container">
								<mat-form-field>
									<textarea matInput class="title" placeholder="Заголовок" [(value)]="emp" #title required></textarea>
								</mat-form-field>
								<mat-form-field class="preview-wrapper">
									<textarea matInput placeholder="Превью" [(value)]="emp" #eventPreview required></textarea>
								</mat-form-field>
								<div class="newsText">
									<h5>Текст мероприятия</h5>
									<textarea [froalaEditor]='options' [(froalaModel)]="editorContent" #eventText required></textarea>
								</div>
								<button mat-button (click)="onClickMe()" color="primary" [disabled]="!newsForm.form.valid" id="submit">Опубликовать</button>
								<p *ngFor="let alert of alerts" class="alert-wrapper">
									<ngb-alert *ngIf="showAlert" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
								</p>
							</div>
						</form>
				
						<mat-card class="card-item" *ngFor="let item of events">
							<h4>{{ item.title }}</h4>
							<h6>{{ item.eventPreview }}</h6>
							<p class="e2e-inner-html-bound" [innerHTML]="item.eventText"></p>
							<strong>{{ item.publishedDate | date}}</strong>
						</mat-card>
					</mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</div>