page-login {
	font-family: 'SFUIText-Regular';
	text-align: center; 

	.toolbar-title-md {
    margin-right: 20%;
	}

}

page-login img {
	max-width: 150px;
	margin-bottom: 100px;
	margin-top: 30px;
}

.list-ios > .item-block:first-child {
	border-top: 0;
}
