<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Викторина</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<p class="quiz_title">
					Проходя тесты, ты можешь получать баллы, а в последтвие их обменивать на дополнительные баллы по ЕГЭ при поступление.
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-list class="quiz_list" *ngIf="notAnswered">
		<ion-list-header class="quiz_list__header">
			Текущие вопросы
		</ion-list-header>
		<button ion-item class="ion_list__item" *ngFor="let item of notAnswered" (click)="getQuestion(item._id)"> {{ item.question }}
		</button>
	</ion-list>
	
	<ion-list class="quiz_list" *ngIf="answered">
		<ion-list-header class="quiz_list__header">
			Прошедшие вопросы
		</ion-list-header>
		<button ion-item class="ion_list__item" *ngFor="let item of answered">{{ item.question }}</button>
	</ion-list>

</ion-content>