<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Викторина</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<p class="quiz_title">
					Проходя тесты, ты можешь получать баллы, а в последтвие их обменивать на дополнительные баллы по ЕГЭ при поступление.
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-list class="quiz_list">
		<ion-list-header class="quiz_list__header">
			Сегодняшний вопрос
		</ion-list-header>
		<button ion-item class="ion_list__item">Вопрос №1</button>
	</ion-list>
	<p class="quiz_question__weight">За правильный ответ вы получите 10 баллов.</p>
	<ion-list class="quiz_list">
		<ion-list-header class="quiz_list__header">
			Прошедшие тесты
		</ion-list-header>
		<button ion-item class="ion_list__item" *ngFor="let item of quizes">{{ item.question }}</button>
	</ion-list>
	<p class="quiz_question__weight">За правильный ответ вы получите не 10, а 5 баллов.</p>
</ion-content>
<!-- (click)="itemSelected(item)" -->

<!-- <ion-content padding>
	<div *ngFor="let item of quizes">
			<p> {{ item.question }} </p>
			<ion-item-group>
				<ion-item-divider color="light">
					Ответы
				</ion-item-divider>
				<ion-item *ngFor="let opt of item.options" (click)="answer(opt._id)">{{ opt.text }}</ion-item>
				<small>Количество баллов за вопрос {{ item.cost }}</small>
			</ion-item-group>
		</div>
</ion-content> -->