<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Викторина</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-12>
				<p class="quiz_title">
					Проходя тесты, ты можешь получать баллы, а в последтвие их обменивать на дополнительные баллы по ЕГЭ при поступление.
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-list class="quiz_list" *ngIf="notAnsweredLength">
		<ion-list-header class="quiz_list__header">
			Текущие вопросы
		</ion-list-header>
		<button ion-item class="ion_list__item" *ngFor="let item of notAnswered" (click)="getQuestion(item._id)"> {{ item.question }}
		</button>
	</ion-list>

	<ion-card *ngIf="!notAnsweredLength">
		<ion-card-header class="quiz_alert">
			Новых вопрос нет!
		</ion-card-header>		
	</ion-card>
	
	<ion-list class="quiz_list" *ngIf="answeredLength">
		<ion-list-header class="quiz_list__header">
			Прошедшие вопросы
		</ion-list-header>
		<button ion-item class="ion_list__item answered_question" *ngFor="let item of answered" (click)="showAlert()">{{ item.question }}</button>
	</ion-list>

</ion-content>