.title {
	width: 80%;
	text-align: center;
	font-family: Arial;
	color: #3f51b5;
}

.matFormField {
	width: 100%;
}

form {
	margin-top: 50px;
}

.question_wrapper {
	width: 80%;
	text-align: center;
}

.quiz_textarea {
	height: 20px;
}

.matFormField_cost {
	width: 200px;
}

.add_answer {
	color: #3f51b5;
  transform: translateY(4px);
  cursor: pointer;
}

.add_answer__options {
	width: 93%;
}

button.btn {
	background: #3f51b5;
	width: 20%;
}

.isCorrect {
	margin-bottom: 9px;
}
