@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/fonts/fonts.css';

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid rgb(59, 83, 175);
 	border-bottom: 16px solid rgb(59, 83, 175);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	position:absolute;
	left:45%;
	top:40%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

body { 
  font-family: "Roboto", Arial, sans-serif;
	margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-toolbar {
	background-color: #fff;
}

.cdk-focused {
	background-color: #fff;
}
.add__container {
  display: flex;
  flex-direction: column;
}

.add-form__wrapper > * {
  width: 100%;
}

.alert-wrapper {
	margin-top: 20px;
}

.mat-button.mat-primary {
	color: #fff;
	width: 20%;
	margin: 0 auto;
	background-color: #3f51b5;	
	top: 20px;
}	

.preview-wrapper {
	margin-bottom: 30px;
}

.title {
	height: 20px;
}

.card-item {
	margin-top: 15px;
}

.add__btn {
	position: fixed !important;
	bottom: 40px;
	right: 40px;
}

.add-form__wrapper {
	margin-top: 20px;
}

.edit_icon {
	float: right;
}

.exit_btn.mat-button.cdk-focused {
	background-color: rgb(59, 83, 175);
}