<ng-container>
	
	<mat-toolbar color="primary">
		<span>Админ панель</span>
		<button mat-button class="exit_btn" *ngIf="isAuth" (click)="logout()">Выход</button>
	</mat-toolbar>		

	<mat-sidenav-container *ngIf="isAuth">
		<mat-sidenav-content>
			<mat-nav-list>
				<span class="avatar">
					<img src="../assets/images/avatar-tusur.png" alt="Your photo">
				</span>
				<a class="user-name">Админ ТУСУР</a>
				<mat-divider></mat-divider>
				<a mat-list-item [routerLink]="menuItem.route" *ngFor="let menuItem of menuItems"> {{ menuItem.name }} <mat-divider></mat-divider></a>
			</mat-nav-list>	
		</mat-sidenav-content>
	</mat-sidenav-container>

</ng-container>

<router-outlet></router-outlet>