/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid rgb(59, 83, 175);
 	border-bottom: 16px solid rgb(59, 83, 175);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	position:absolute;
	left:45%;
	top:40%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

body { 
  font-family: Roboto, Arial, sans-serif;
	margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.mat-toolbar {
	background-color: #fff;
}

.cdk-focused {
	background-color: #fff;
}