@import "fonts.scss";
@import "icons.scss";


ion-title {
	color: #ffffff;
	font-family: "SF UI Display";
	font-size: 17px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.21px;
}

ion-card-title {
	font-family: 'SFUIText-Semibold';
}

.preview {
	font-family: 'SFUIText-Regular';
}

.date {
	font-family: 'SFUIText-BoldItalic';
	display: inline-block;
	padding-top: 18px;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.sidebar_person {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar_person img {
  transform: translateY(5px);
}

.sidebar_person b {
  font-size: 17px;
	margin-bottom: 10px;
	font-family: 'SFUIText-Semibold';
}

.sidebar_person small {
  color: #005aae;
	font-size: 14px;
	font-family: 'SFUIText-Regular';
}

.sidebar_avatar {
  background-image: url(../assets/imgs/avatar-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 82px;
}

.activeHighlight {
	background-image: url(../assets/imgs/menu_list-rectangle.png);
	background-repeat: no-repeat;
}

.content_title {
	font-size: 1.5em;
	font-family: 'SFUIText-Semibold';
	padding-bottom: 20px;
}

.show-content p:nth-child(2) {
	font-family: 'SFUIText-Medium';
	font-size: 15px;
	line-height: 21.5px;
	padding-bottom: 10px;
}

.sidebar_list {
	font-family: 'SFUIText-Regular';
}

.card_button {
	display: inline-block;
	width: 100%;	
}

.card_button  button{
	float: right;
	font-family: 'SFUIText-Regular';
}

.card_button .button-md {
	padding-top: 8px;
}